name: Orchestrator call
on:
    workflow_dispatch:
permissions:
  contents: read         
  security-events: write
  actions: read
jobs:
    orchestrator:
        uses: gha-sec-scans/orchestrator/.github/workflows/main.yaml@feature/preflight
        secrets: inherit